---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ServicesSection from "../components/ServicesSection.astro";
import HomeSection from "../components/HomeSection.astro";
import 'aos/dist/aos.css';
import GoogleTagManagerNoScript from "../components/GoogleTagManagerNoScript.astro";
import GoogleTagManager from "../components/GoogleTagManager.astro";
---

<!doctype html>
<html lang="es" data-theme="nido">
	<head>
		<meta charset="UTF-8" />
		<GoogleTagManager />
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GJBQGEGTLW" is:inline></script>
<script>
  declare global {
	interface Window {
	  dataLayer: any[];
	}
  }
  window.dataLayer = window.dataLayer || [];
  function gtag(...args: any[]) { window.dataLayer.push(args); }
  gtag('js', new Date());
  gtag('config', 'G-GJBQGEGTLW');
</script>
		</script>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	</head>
	<body class="bg-white">
		<Header />
		<HeroSection />
		<AboutSection />
		<ServicesSection />
		<HomeSection />
		<Footer />

		<script>
			import AOS from 'aos';
			AOS.init({
				duration: 800,
				once: true,
			});
		</script>
		<GoogleTagManagerNoScript />
	</body>
</html>
