---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import HeroSection from "../components/HeroSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ServicesSection from "../components/ServicesSection.astro";
import HomeSection from "../components/HomeSection.astro";
import CTASection from "../components/CTASection.astro";
---

<!doctype html>
<html lang="es" data-theme="nido">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
	</head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	<body class="bg-white">
		<Header />
		<HeroSection />
		<AboutSection />
		<ServicesSection />
		<HomeSection />
		<CTASection />
		<Footer />
	</body>


</html>
