---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header id="main-header" class="fixed w-full py-10 bg-white/20 px-6 top-0 left-0 right-0 z-50 pointer-events-auto transition-all duration-300">
	<div class="container mx-auto flex items-center justify-between text-lg">
		<div class="flex items-center">
			<!-- <img src="/logo-kiddie.svg" alt="Kiddie" class="h-8" /> -->
			<span class="ml-2 text-2xl font-medium text-white">PeruLinas</span>
		</div>

		<nav class="hidden md:block">
			<ul class="flex space-x-8 font-semibold">
				<li><HeaderLink href="/" class="text-white hover:text-orange-500 transition-all duration-300 hover:opacity-80">Inicio</HeaderLink></li>
				<li><HeaderLink href="/about" class="text-white hover:text-orange-500 transition-all duration-300 hover:opacity-80">Nosotros</HeaderLink></li>
				<li><HeaderLink href="/services" class="text-white hover:text-orange-500 transition-all duration-300 hover:opacity-80">Programas & Servicios</HeaderLink></li>
				<li><HeaderLink href="/contact" class="text-white hover:text-orange-500 transition-all duration-300 hover:opacity-80">Contacto</HeaderLink></li>
				<li><HeaderLink href="/blog" class="text-white hover:text-orange-500 transition-all duration-300 hover:opacity-80">Blog</HeaderLink></li>
			</ul>
		</nav>

		<div>
			<a href="/contact" class="rounded-full border border-white text-white px-6 py-3 text-lg hover:bg-orange-500 hover:border-orange-400 transition-all duration-300">Contactenos</a>
		</div>
	</div>
</header>

<script>
	let lastScrollY = window.scrollY;
	
	window.addEventListener('load', () => {
		const header = document.getElementById('main-header');
		if (!header) return;

		window.addEventListener('scroll', () => {
			const currentScrollY = window.scrollY;
			
			if (currentScrollY === 0) {
				header.classList.remove('bg-[#1a4162]', '-translate-y-full');
				header.classList.add('bg-white/20');
			}
			else if (currentScrollY > lastScrollY) {
				header.classList.remove('bg-[#1a4162]', 'bg-white/20');
				header.classList.add('-translate-y-full');
			}
			else {
				header.classList.remove('-translate-y-full', 'bg-white/20');
				header.classList.add('bg-[#1a4162]');
			}
			
			lastScrollY = currentScrollY;
		});
	});
</script>

