---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-white/20 py-9 px-6 absolute top-0 left-0 right-0 z-50 pointer-events-auto">
	<div class="container mx-auto flex items-center justify-between text-lg">
		<div class="flex items-center">
			<!-- <img src="/logo-kiddie.svg" alt="Kiddie" class="h-8" /> -->
			<span class="ml-2 text-2xl font-medium text-white">PeruLinas</span>
		</div>

		<nav class="hidden md:block">
			<ul class="flex space-x-8 font-semibold">
				<li><HeaderLink href="/" class="text-white hover:text-orange-500 transition-all duration-300 hover:opacity-80">Inicio</HeaderLink></li>
				<li><HeaderLink href="/about" class="text-white hover:text-orange-500 transition-all duration-300 hover:opacity-80">Nosotros</HeaderLink></li>
				<li><HeaderLink href="/services" class="text-white hover:text-orange-500 transition-all duration-300 hover:opacity-80">Programas & Servicios</HeaderLink></li>
				<li><HeaderLink href="/contact" class="text-white hover:text-orange-500 transition-all duration-300 hover:opacity-80">Contacto</HeaderLink></li>
				<li><HeaderLink href="/blog" class="text-white hover:text-orange-500 transition-all duration-300 hover:opacity-80">Blog</HeaderLink></li>
			</ul>
		</nav>

		<div>
			<a href="/contact" class="rounded-full border border-white text-white px-6 py-2 text-lg hover:bg-orange-500 hover:border-orange-400 transition-all duration-300">Contactenos</a>
		</div>
	</div>
</header>

