---
import VideoInicio from "../assets/videos/video-inicio.mp4";
---

<section class="relative min-h-screen bg-gray-800 text-white">
  <!-- Background Image con overlay -->
  <div class="absolute inset-0 z-0">
    <video
      src={VideoInicio}
      autoplay
      muted
      loop
      class="w-full h-full object-cover"
      playsinline></video>
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>

  <!-- Content -->
  <div
    class="container mx-auto px-6 relative z-10 h-screen flex items-center justify-center"
  >
    <div class="max-w-5xl mx-auto text-center pt-16">
      <h1
        class="title_hero text-[65px] xs:text-[50px] sm:text-[75px] md:text-[130px] lg:text-[130px] xl:text-[140px] 2xl:text-[150px] font-bold mt-2 sm:mt-2 md:mt-2 lg:mt-2 xl:mt-2 sm:leading-20 md:leading-20 lg:leading-30 xl:leading-40 leading-20 mb-14"
      >
        Educamos con el Trinomio Indisoluble.
      </h1>
      <!-- <p class="subtitle_hero text-lg mb-10 max-w-2xl mx-auto">
        En Nido Perulinas, creemos que todos los niños merecen un entorno seguro, enriquecedor y amoroso donde puedan aprender, crecer y prosperar.
      </p> -->
      <div class="flex justify-center">
        <a
          href="/contact"
          id="btn-contact"
          class="relative overflow-hidden inflate-button btn-xl btn btn-primary font-medium rounded-full px-10 py-4 text-xl transition-all duration-300 hover:shadow-lg hover:scale-105"
        >
          Consulte Ahora
        </a>
      </div>
    </div>
  </div>
</section>
<script>
  import { gsap } from "gsap";
  import SplitType from "split-type";
  gsap.from(".title_hero", {
    opacity: 0,
    y: 60,
    duration: 1.2,
    ease: "power3.out",
    delay: 0.3,
  });

  const split = new SplitType(".title_hero", { types: "words,chars" });
  split.chars?.forEach((char, index) => {
    let tl = gsap.timeline();
    tl.from(char, {
      y: gsap.utils.random(-150, 150),
      x: gsap.utils.random(-150, 150),
      rotate: gsap.utils.random(-360, 360),
      scale: gsap.utils.random(0, 2),
      opacity: 0,
      duration: 2,
      ease: "back.out",
      delay: index * 0.01,
    });
    tl.from(
      char,
      {
        color: `rgb(${gsap.utils.random(0, 255)}, ${gsap.utils.random(0, 255)}, ${gsap.utils.random(0, 255)})`,
        duration: 5,
      },
      "-=0.25",
    );
  });
</script>
