---

---

<section class="relative min-h-screen bg-gray-800 text-white">
  <!-- Background Image con overlay -->
  <div class="absolute inset-0 z-0">
    <video
      src="https://videocdn.cdnpk.net/videos/f40be1a1-a7c9-458a-8a9f-8d5152fd0569/horizontal/previews/clear/large.mp4?token=exp=1748077475~hmac=39f60c9f45ffbc7614cad03402b51e104805a298639e6acdba213e19fdff80e6"
      autoplay
      muted
      loop
      class="w-full h-full object-cover"
      playsinline></video>
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>

  <!-- Content -->
  <div
    class="container mx-auto px-6 relative z-10 h-screen flex items-center justify-center"
  >
    <div class="max-w-5xl mx-auto text-center pt-16">
      <h1
        class="title_hero text-6xl md:text-[150px] font-bold mb-20 leading-30 text-[120px]"
      >
        Educamos con el Trinomio Indisoluble.
      </h1>
      <!-- <p class="subtitle_hero text-lg mb-10 max-w-2xl mx-auto">
        En Nido Perulinas, creemos que todos los niños merecen un entorno seguro, enriquecedor y amoroso donde puedan aprender, crecer y prosperar.
      </p> -->
      <div class="flex justify-center">
        <a
          href="/contact"
          class="relative overflow-hidden inflate-button bg-orange-500 hover:bg-white text-white hover:text-black font-medium rounded-full px-10 py-4 text-xl transition-all duration-300 hover:shadow-lg hover:scale-105"
        >
          <span class="ripple bg-[rgba(255, 255, 255, 0.3)]"></span>
          Consulte Ahora
        </a>
      </div>
    </div>
  </div>
</section>
<script>
  import { gsap } from "gsap";
  import SplitType from "split-type";
  gsap.from(".title_hero", {
    opacity: 0,
    y: 60,
    duration: 1.2,
    ease: "power3.out",
    delay: 0.3,
  });

  const split = new SplitType(".title_hero", { types: "words,chars" });
  split.chars?.forEach((char, index) => {
    let tl = gsap.timeline();
    tl.from(char, {
      y: gsap.utils.random(-150, 150),
      x: gsap.utils.random(-150, 150),
      rotate: gsap.utils.random(-360, 360),
      scale: gsap.utils.random(0, 2),
      opacity: 0,
      duration: 2,
      ease: "back.out",
      delay: index * 0.01,
    });
    tl.from(
      char,
      {
        color: `rgb(${gsap.utils.random(0, 255)}, ${gsap.utils.random(0, 255)}, ${gsap.utils.random(0, 255)})`,
        duration: 5,
      },
      "-=0.25",
    );
  });
</script>
