---
// import VideoInicio from "../assets/videos/video-inicio.mp4";
import VideoInicio2 from "../assets/videos/video-inicio-2.mp4";
import VideoInicio3 from "../assets/videos/video-inicio-3.mp4";
---

<section class="relative min-h-screen bg-gray-800 text-white">
  <!-- Background Image con overlay -->
  <div class="absolute inset-0 z-0">
    <video
      src={VideoInicio3}
      autoplay
      muted
      loop
      class="w-full h-full object-cover"
      playsinline></video>
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>

  <!-- Content -->
  <div
    class="container mx-auto px-6 relative z-10 h-screen flex items-center justify-center"
  >
    <div class="max-w-5xl mx-auto text-center pt-16">
      <h1
        class="title_hero text-[65px] md:text-[130px] font-bold leading-15 md:leading-30"
      >
        Educamos con el Trinomio Indisoluble
      </h1>
    </div>
  </div>
</section>
<script>
  import { gsap } from "gsap";
  import SplitType from "split-type";
  gsap.from(".title_hero", {
    opacity: 0,
    y: 60,
    duration: 1.2,
    ease: "power3.out",
    delay: 0.3,
  });

  const split = new SplitType(".title_hero", { types: "words,chars" });
  split.chars?.forEach((char, index) => {
    let tl = gsap.timeline();
    tl.from(char, {
      y: gsap.utils.random(-150, 150),
      x: gsap.utils.random(-150, 150),
      rotate: gsap.utils.random(-360, 360),
      scale: gsap.utils.random(0, 2),
      opacity: 0,
      duration: 2,
      ease: "back.out",
      delay: index * 0.01,
    });
    tl.from(
      char,
      {
        color: `rgb(${gsap.utils.random(0, 255)}, ${gsap.utils.random(0, 255)}, ${gsap.utils.random(0, 255)})`,
        duration: 5,
      },
      "-=0.25",
    );
  });
</script>
